:root {
    --color1: rgb(162, 162, 144, 0.7);
    --color2: rgb(220, 219, 217);
    --color3: rgb(55, 89, 52);
    --color4: rgb(215, 201, 133);
    --color5: rgb(246, 237, 240);
    --color6: rgb(229, 54, 6);
    --color7: hwb(121 20% 40%);
    --color8: rgb(55, 89, 52, 0.8);
    --color9: rgb(246, 237, 240, 0.7);
    --centeredClassWidth: 78%;
  }
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    border:solid;
    width: 100%;
    max-width: 650px;
    margin:100px auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
#header{
    width: 100%;
}
h2{
    color : blue;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;

}

#currency-img{
    margin: 20px;
}

#swap{
    background-color: red;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 12px;
    border-radius:5px ;
    padding: 7px 15px;
    margin:10px 0;
}

input,select{
    width:250px;
    height: 30px;
    border:1px solid lightblue;
    outline: #4c91af solid 2px;
}

input {
    background-color: transparent;
}
select{
    width: 100px;
    margin-left: 10px;
    letter-spacing: 2px;
}

span{
    color:crimson;
    font-size: 2em;
    font-weight: 900;

}

#chart{
    display:flex;
}

#graph1,
#graph2{
margin:10px;
}
